form{
    display: block;
    max-width: 350px;
    legend{
        padding: 5px;
        font-size: 50px;
        margin: 0px;
    }
    fieldset{
        padding: 5px;
        border: none;
        font-size: 25px;
        label{
            margin: 5px;
            width: 25%;
        }
        input{
            margin: 5px;
            border: 2px solid gray;
        }
        input[type="text"], input[type="email"], input[type="password"]{
            width: 100%;
            padding: 8px;
            margin-left: 0px;
        }
        input[type="submit"]{
            width: 25%;
            padding: 10px;
        }
        button{
            margin: 0px;
            padding: 10px;
            padding-top: 0px;
            border: none;
            text-decoration:underline;
            color:skyblue;
            background-color: transparent;
        }
    }
}